/* 하나금융그룹 폰트 */
@font-face {
    font-family: Hana2-Light;
    src: url('../Hana2.0_TTF/Hana2-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: Hana2-Regular;
    src: url('../Hana2.0_TTF/Hana2-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: Hana2-Medium;
    src: url('../Hana2.0_TTF/Hana2-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: Hana2-Bold;
    src: url('../Hana2.0_TTF/Hana2-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: Hana2-Heavy;
    src: url('../Hana2.0_TTF/Hana2-Heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: Hana2-CM;
    src: url('../Hana2.0_TTF/Hana2-CM.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 오뮤_다예쁨체;
    src: url('../Hana2.0_TTF/오뮤_다예쁨체.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }



  :root {
    --primary: #009591;
    --light: #F1F8FF;
    --dark: #0F172B;
    }
    
    * {
    box-sizing: border-box;
    }
    body {
    font-size: 14px;
    font-family: 'Hana2-Medium';
    }
    
    .link_crfix > li > a{
    color : #666565;
    }
    
    @keyframes tipsy {
    0% {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
    100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
    }

    #main_color {
        margin-top:2px;
        width: 100%;
        height: 500px;
        background: linear-gradient(-45deg, #fc5c7d, #6610f2, #6a82fb, #eaafc8);
        animation: gradient 15s ease infinite;
        background-size: 400% 400%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 100px;
        font-weight: bold;
        position: relative;
        margin-top: 1px;
    }
    .area_center {
      position: relative;
      display: inline-block;
      width: 800px;
      height: auto;
      top: 45%;
      right: 15%;
      transform: scale(1);
      transform-origin: top right;
  }

  .intro_card {
    display: inline-block;
    position: absolute;
    top: -150px;
    right: 350px;
    width: 50%;
  }
  #recommendationBtn:hover, #travelBtn:hover, #exchangeBtn:hover {
    background-color: #009591;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    }
  .chapter_01 {
      position: absolute;
      top: 50px;
      left: 25%;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .border {
    border: 1px solid black!important;
}

.search-code {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 20px;
}

.search-bar {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 20px;
}
#main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top : 50px
}

#chart-container {
  width: 80%;
  height: 730px;
}

#search-form {
  display: flex;
  align-items: center;
}

#search-input {
  flex: 1;
  max-width: 250px; 
}

#search-button {
  margin-left: 10px;
}

  ul{
    text-align: center;
  }
  ul#stock-list dt {
    font-size: 30px;
    color: black; /* dt 요소의 텍스트 색상을 검은색으로 설정 */
    font-weight: bold; /* dt 요소의 텍스트를 진하게 설정 */
    margin-right: 15px;
}

ul#stock-list dd span {
  font-size: 25px;
    color: gray; /* span 요소의 텍스트 색상을 회색으로 설정 */
    font-weight: bold;
}

ul#stock-list .goUp span.rate {
    color: red; /* 상승을 나타내는 span 요소의 텍스트 색상을 빨간색으로 설정 */
}

ul#stock-list .goDown span.rate {
    color: blue; /* 하락을 나타내는 span 요소의 텍스트 색상을 파란색으로 설정 */
}

ul#stock-list dd span.goUp::before {
    content: "▲"; /* 상승을 나타내는 span 요소 앞에 화살표를 추가 */
}

ul#stock-list dd span.goDown::before {
    content: "▼"; /* 하락을 나타내는 span 요소 앞에 화살표를 추가 */
}

ul#stock-list dl {
    margin-right: 100px; /* dl 요소 사이에 공간을 추가 */
}
  ul#stock-list, 
ul#stock-list li, 
ul#stock-list dl, 
ul#stock-list dt, 
ul#stock-list dd {
    text-align: center;  /* 텍스트를 가운데로 정렬합니다. */
}

ul#stock-list {
    list-style: none;  /* ul 요소의 리스트 스타일을 없앱니다. */
    padding: 0;  /* ul 요소의 패딩을 없앱니다. */
}

ul#stock-list li {
    display: inline-block;  /* li 요소를 인라인-블록 요소로 만들어 가운데 정렬을 가능하게 합니다. */
    width: 100%;  /* li 요소의 너비를 100%로 설정합니다. */
}

ul#stock-list dl {
    display: inline-block;  /* dl 요소를 인라인-블록 요소로 만들어 가운데 정렬을 가능하게 합니다. */
}

ul#stock-list dt, 
ul#stock-list dd {
    display: inline;  /* dt, dd 요소를 인라인 요소로 만들어 가운데 정렬을 가능하게 합니다. */
}
ul#stock-list span.hidden {
  display: none;  /* span.hidden 요소를 보이지 않게 설정 */
}



  .chapter_01 p {
      display: inline-block;
      font-weight: 300;
      font-size: 36px;
      animation: scaleAnimation 8s infinite;
      transform-origin: center;
      opacity: 0;
      color: white;
  }

  .stock-wrap {
    position: relative; 
    height: 50px; 
    width: 100%; 
    overflow: hidden; 
    text-align: center;
}

.stock-wrap li {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    align-items: center;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s ease-in-out;
}

.stock-wrap li.visible {
    opacity: 1;
    transform: translateY(0);
}



  

  .chapter_01 p:nth-child(1) {
      animation-delay: 0s;
  }

  .chapter_01 p:nth-child(2) {
      animation-delay: 0.2s;
  }

  .chapter_01 p:nth-child(3) {
      animation-delay: 0.4s;
  }

  @keyframes scaleAnimation {

      0%,
      100% {
          transform: scale(1);
          opacity: 0;
      }

      50% {
          transform: scale(0.8);
          opacity: 1;
      }
  }
    .sub_logo {
        color: #fffbf1;
        font-size: 65px;
        font-weight: bold;
        text-decoration: none;
        margin: 0;
        position: relative;
        top: 200px;
        left: 380px;
        transform: translateX(-50%) translateY(-50%);
        white-space: nowrap;
    }
    
    .sub_logo:before,
    .sub_logo:after {
    content: '';
    padding: .9em .4em;
    position: absolute;
    left: 50%;
    width: 120%;
    top: 50%;
    display: block;
    border: 15px solid red;
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
    animation: 25s infinite alternate ease-in-out tipsy;
    }
    
    .sub_logo:before {
    border-color: #009591 #009591 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    z-index: -1;
    }
    
    .sub_logo:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #009591 #009591;
    box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);
    }
    
    @keyframes slide-up {
    0% {
    transform: translateY(100%);
    opacity: 0;
    }
    100% {
    transform: translateY(0);
    opacity: 1;
    }
    }
    
    .custom-div {
    background-color: white;
    border : 2px solid #009591;
    color: black;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    padding: 10px;
    width: 40%;
    height: 200px;
    }
    
    #content{
        font-size: 25px;
    }


    



    #additional{
        position: relative;
        margin-left: 5px;
        color: #000;
        font-weight: 100;
        line-height: 22px;
    }
    
    .fa-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }
    
    @keyframes gradient {
    0% {
    background-position: 0% 0%;
    }
    
    
    50% {
    background-position: 100% 100%;
    }
    
    
    100% {
    background-position: 0% 0%;
    }
    }
    
    
    #main_color .carousel-item img {
    animation: shrinkAnimation 0.5s ease-in-out forwards;
    }
    
    .renewal2021 {
    width: 1280px;
    padding : 0 25px;
    margin : 0 auto;
    height: 101px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
    }
    
    
    .upper{
    display: flex;
    justify-content: space-between;
    align-items : center;
    }
    
    .link_crfix{
    display: flex;
    list-style: none;
    margin: 0;
    line-height: inherit;
    }
    .link_crfix .item {
    margin-right: 10px;
    overflow: hidden;
    background-color: transparent;
    border: none;
    cursor: pointer;
    }
    
    .menu {
    width: 100%;
    height: 70px;
    opacity: 1;
    position: absolute;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    }
    
    
    .main_menu {
    width: 890px;
    height: 58px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 10px;
    left: 20px;
    overflow: hidden;
    }

    .transparent-button {
      background: none;
      border: none;
      padding: 0;
  }

  .tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

  .transparent-button:hover {
    background-color: #009591;
    }
    
    .menu-button {
    width: auto;
    height: 100%;
    padding: 10px 35px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color : black;
    }

    .menu-button:hover {
        color: black;
      }
    
    .search:hover{
    background-color: #009591;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    }
    
    .allmenu:hover{
    background-color: #009591;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    }
    
    .exchange{
    border: none;
    background-color : #f5f5f2;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    }
    .exchange:hover {
    background-color: #009591;
    }
    
    .menu-button:hover {
    background-color: #009591;
    }
    .side_menu {
    width: 118px;
    height: 70px;
    opacity: 1;
    position: absolute;
    top: 4px;
    right: 90px;
    overflow: hidden;
    }
    .search {
    width: 30px;
    height: 30px;
    background: url("../img/search.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 20px;
    left: 44px;
    overflow: hidden;
    background-color: transparent;
    border: none;
    cursor: pointer;
    }
    .search_add {
    width: 44px;
    color: rgba(85,85,85,1);
    position: absolute;
    top: 0px;
    left: 9023px;
    font-weight: DemiLight;
    font-size: 12px;
    opacity: 1;
    text-align: left;
    }
    .allmenu {
    width: 30px;
    height: 30px;
    background: url("../img/allmenu.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 20px;
    left: 88px;
    overflow: hidden;
    background-color: transparent;
    border: none;
    cursor: pointer;
    }
    .allmenu_add {
    width: 44px;
    color: rgba(85,85,85,1);
    position: absolute;
    top: 0px;
    left: 8935px;
    font-weight: DemiLight;
    font-size: 12px;
    opacity: 1;
    text-align: left;
    }
    .divide_line {
    width: 100%;
    height: 2px;
    background: rgba(0,149,145,1);
    opacity: 1;
    position: absolute;
    top: 100px;
    left: 0px;
    overflow: hidden;
    }
    
    .end_line {
    width: 100%;
    height: 1px;
    background: rgba(0,149,145,1);
    opacity: 1;
    position: absolute;
    left: 0px;
    overflow: hidden;
    }
    
    .country{
    border : 0.5px solid black;
    }
    
    .exchange_rate{
    text-align: center;
    margin-bottom: 0;
    line-height: 50px;
    border-bottom: 0;
    display : block;
    background-color : #f5f5f2;
    }
    
    .exchange_rate ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    justify-content: space-between;
    }
    
    .exchange_rate ul li {
    flex-basis: 100%;
    text-align: center;
    }
    
    .price {
    padding-top: 21px;
    font-size: 42px;
    letter-spacing: -2px;
    height: 36px;
    line-height: 38px;
    }
    
    .fw-medium {
    font-weight: 500 !important;
    }
    
    .fw-semi-bold {
    font-weight: 600 !important;
    }
    
    .back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
    }
    
    #recommendationBtn, #travelBtn, #exchangeBtn {
      padding: 10px 35px;
      background: none;
      border: none;
      cursor: pointer;
      transition: transform 0.2s;
  }
  
  /* #recommendationBtn:hover, #travelBtn:hover, #exchangeBtn:hover {
      transform: scale(1.1);
  } */
  
  .no-bg {
      padding: 0;
  }
  .section-container{
    margin-bottom: 45px;
  }
    /*** Spinner ***/
    #spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
    }
    
    #spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
    }
    
    
    /*** Button ***/
    .btn {
    float : right;
    font-weight: 500;
    text-transform: uppercase;
    transition: .5s;
    }
    
    .btn.btn-primary,
    .btn.btn-secondary {
    color: #FFFFFF;
    }
    
    .btn-square {
    width: 38px;
    height: 38px;
    }
    
    .btn-sm-square {
    width: 32px;
    height: 32px;
    }
    
    .btn-lg-square {
    width: 48px;
    height: 48px;
    }
    
    .btn-square,
    .btn-sm-square,
    .btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
    }
    
    .img-fluid{
    width:100%;
    }
    
    /*** Navbar ***/
    .navbar-dark .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
    }
    
    .navbar-dark .navbar-nav .nav-link:hover,
    .navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary);
    }
    
    @media (max-width: 991.98px) {
    .navbar-dark .navbar-nav .nav-link {
    margin-right: 0;
    padding: 10px 0;
    }
    }
    
    /*** Service ***/
    .service-item {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
    }
    
    .service-item:hover {
    background: var(--primary);
    }
    
    .service-item .service-icon {
    margin: 0 auto 30px auto;
    width: 65px;
    height: 65px;
    transition: .5s;
    }
    
    .service-item i,
    .service-item h5,
    .service-item p {
    transition: .5s;
    }
    
    .service-item:hover i,
    .service-item:hover h5,
    .service-item:hover p {
    color: #FFFFFF !important;
    }
    
    .col-md-3:nth-child(1) select {
    background-color: #009591;
    color: #333;
    font-size: 14px;
    border: 1px solid #009591;
    
    }
    
    /* 두 번째 select 요소에 대한 스타일 */
    .col-md-3:nth-child(2) select {
    background-color: #009591;
    color: #555;
    font-size: 14px;
    border: 1px solid #009591;
    }
    
    /*** Testimonial ***/
    .testimonial {
    background: linear-gradient(rgba(15, 23, 43, .7), rgba(15, 23, 43, .7)), url(../img/carousel-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    
    .testimonial-carousel {
    padding-left: 65px;
    padding-right: 65px;
    }
    
    .testimonial-carousel .testimonial-item {
    padding: 30px;
    }
    
    .testimonial-carousel .owl-nav {
    position: absolute;
    width: 100%;
    height: 40px;
    top: calc(50% - 20px);
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    }
    
    .testimonial-carousel .owl-nav .owl-prev,
    .testimonial-carousel .owl-nav .owl-next {
    position: relative;
    width: 20px;
    height: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 2px;
    /* font-size: 18px; */
    transition: .5s;
    }
    
    .testimonial-carousel .owl-nav .owl-prev:hover,
    .testimonial-carousel .owl-nav .owl-next:hover {
    color: var(--primary);
    background: #FFFFFF;
    }
    
    
    /*** Team ***/
    .team-item,
    .team-item .bg-primary,
    .team-item .bg-primary i {
    transition: .5s;
    }
    
    .team-item:hover {
    border-color: var(--secondary) !important;
    }
    
    .team-item:hover .bg-primary {
    background: var(--secondary) !important;
    }
    
    .team-item:hover .bg-primary i {
    color: var(--secondary) !important;
    }
    
    
    /*** Footer ***/
    .newsletter {
    position: relative;
    z-index: 1;
    }
    
    body, html {
      height: 100%;
      margin: 0;
      display: flex;
      flex-direction: column;
    }
    
    .container-xxl {
      flex: 1 0 auto;
    }
    
    footer {
      flex-shrink: 0;
    }
    
  
    
    .contact-info p {
    margin: 5px 0;
    }
    
    .contact-info p:first-child {
    font-weight: bold;
    }
    
    .contact-info p:last-child {
    color: #999;
    }