<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>하나금융그룹</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->

        <!-- Header Start -->
        <div class="renewal2021">
            <div class="upper">
                <ul class="link_crfix">
                    <li class="item">기업뱅킹</li>
                    <li class="item">하나증권</li>
                    <li class="item">은행소개</li>
                    <li class="item">채용안내</li>
                </ul>
            </div>

            <div class="menu">
                <a href="../index.html" style="justify-content: center;">
                    <img src="./img/Hana.jpg"
                        style="max-width: 300px; height: auto; margin-top: 20px; margin-left: 30px;">
                </a>

                <div class="main_menu">
                    <a href="./stock.html" class="menu-button">종목</a>
                    <a href="./machine.html" class="menu-button">머신러닝 모델</a>
                    <a href="./deep.html" class="menu-button">딥러닝 모델</a>
                    <button class="menu-button" id="autoTradingBtn">자동매매</button>
                </div>

            </div>
        </div>
        <div class="divide_line"></div>
        <!-- Header End -->
        <div class="container-fluid p-0 mb-5">
            <div id="main_color">
                <div class="area_center">
                    <img src="./img/test.png" class="intro_card">
                    <div class="chapter_01">
                        <p class="txt_01"><strong>자동화를 통한</strong></p>
                        <p class="txt_02"><strong>효율적인 투자</strong></p>
                        <p class="txt_03"><strong>바로 시작하세요</strong></p>
                    </div>
                </div>
                <div class="sub_logo_wrapper">
                    <span class="sub_logo" target="_blank">AI자동주식매매</span>
                </div>
            </div>
        </div>
        <br>
        <ul class="stock-wrap" id="stock-list" data-bind="_this.withItem(jisuObject,false)" data-rowgroup="1">
            <li class="active">
                <dl>
                    <dt>KOSPI</dt>
                    <dd class="goUp">
                        <span data-bind="K001['NowPrc']" data-bind-bypass="true">2,628.30</span>
                        <span data-bind="checkUpDownJisu(K001['PrdayCmpTp'])" data-bind-bypass="true"></span> <span
                            class="rate goUp" data-bind="K001['PrdayCmp']" data-bind-bypass="true">37.07</span>
                        <span class="hidden">상승</span>
                    </dd>
                </dl>
                <dl>
                    <dt>KOSDAQ</dt>
                    <dd class="goUp">
                        <span data-bind="K201['NowPrc']" data-bind-bypass="true">896.28</span>
                        <span data-bind="checkUpDownJisu(K201['PrdayCmpTp'])" data-bind-bypass="true"></span> <span
                            class="rate goUp" data-bind="K201['PrdayCmp']" data-bind-bypass="true">3.21</span>
                        <span class="hidden">상승</span>
                    </dd>
                </dl>
                <dl>
                    <dt>국고채(3년)</dt>
                    <dd class="goUp">
                        <span data-bind="Y0101['NowPrc']" data-bind-bypass="true">3.6140</span>
                        <span data-bind="checkUpDownJisu(Y0101['PrdayCmpTp'])" data-bind-bypass="true"></span> <span
                            class="rate goUp" data-bind="Y0101['PrdayCmp']" data-bind-bypass="true">0.0120</span>
                        <span class="hidden">상승</span>
                    </dd>
                </dl>
            </li>
            <li class="">
                <dl>
                    <dt>DOW</dt>
                    <dd class="goUp">
                        <span data-bind="DJI_DJI['NowPrc']" data-bind-bypass="true">34,509.03</span>
                        <span data-bind="checkUpDownJisu(DJI_DJI['PrdayCmpTp'])" data-bind-bypass="true"></span>
                        <span class="rate goUp" data-bind="DJI_DJI['PrdayCmp']" data-bind-bypass="true">113.89</span>
                        <span class="hidden">상승</span>
                    </dd>
                </dl>
                <dl>
                    <dt>NASDAQ</dt>
                    <dd class="goDown">
                        <span data-bind="NAS_IXIC['NowPrc']" data-bind-bypass="true">14,113.70</span>
                        <span data-bind="checkUpDownJisu(NAS_IXIC['PrdayCmpTp'])" data-bind-bypass="true"></span>
                        <span class="rate goDown" data-bind="NAS_IXIC['PrdayCmp']" data-bind-bypass="true">24.87</span>
                        <span class="hidden">하락</span>
                    </dd>
                </dl>
                <dl>
                    <dt>원달러</dt>
                    <dd class="goDown">
                        <span data-bind="USDKRWSMBS['NowPrc']" data-bind-bypass="true">1,265.80</span>
                        <span data-bind="checkUpDownJisu(USDKRWSMBS['PrdayCmpTp'])" data-bind-bypass="true"></span>
                        <span class="rate goDown" data-bind="USDKRWSMBS['PrdayCmp']" data-bind-bypass="true">8.20</span>
                        <span class="hidden">하락</span>
                    </dd>
                </dl>
            </li>
        </ul>
        <hr>



        <div class="section-container border-section-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="fa-container">
                            <button id="recommendationBtn">
                                <div class="text-center">
                                    <h3>최다거래</h3>
                                </div>
                            </button>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="fa-container">
                            <button id="travelBtn" class="no-bg">
                                <div class="text-center">
                                    <h3>급등주</h3>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="fa-container">
                            <button id="exchangeBtn">
                                <div class="text-center">
                                    <h3>급락주</h3>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div style="background: linear-gradient(135deg, rgba(177,244,220,1) 0%, rgba(242,221,247,1) 100%);"></div>
        <div id="cardSection" class="container-xxl py-5">
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-4">
                        <div th:each="stockData : ${top5StockData}" class="col-lg-4 col-md-6 wow fadeInUp"
                             data-wow-delay="0.1s" style="width: 20%;">
                            <a class="service-item" href="">
                                <div class="service-icon bg-transparent">
                                    <div class="w-100 h-100 d-flex align-items-center justify-content-center">
                                        <img class="country" th:src="@{이미지URL}" style="width: 100%; border-radius: 20%;">
                                    </div>
                                </div>
                                <p style="color: red; margin-top: -1rem;" th:text="${stockData.changedRate}"></p>
                                <p class="text-body mb-0" th:text="${stockData.kospiName}"></p>
                                <p class="text-body mb-0" th:text="${stockData.code}"></p>
                                <h5 class="mb-3" data-toggle="counter-up" th:text="${stockData.close}"></h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div id="travelSection" class="container-xxl py-5" style="display: none;">
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-4">
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" style="width: 20%;">
                            <a class="service-item" href="">
                                <div class="service-icon bg-transparent">
                                    <div class="w-100 h-100 d-flex align-items-center justify-content-center">
                                        <img class="country"
                                            src="https://file.alphasquare.co.kr/media/images/stock_logo/kr/005930.png"
                                            style="width: 100%; border-radius: 20%;">
                                    </div>
                                </div>
                                <p style="color: red; margin-top: -1rem;">+2.09%</p>
                                <p class="text-body mb-0">삼성전자</p>
                                <h5 class="mb-3" data-toggle="counter-up">73,400</h5>

                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s" style="width: 20%;">
                            <a class="service-item" href="">
                                <div class="service-icon bg-transparent">
                                    <div class="w-100 h-100 d-flex align-items-center justify-content-center">
                                        <img class="country"
                                            src="https://file.alphasquare.co.kr/media/images/stock_logo/kr/000660.png"
                                            style="width: 100%; border-radius: 20%;">
                                    </div>
                                </div>
                                <p style="color: red; margin-top: -1rem;">+3.42%</p>
                                <p class="text-body mb-0">SK하이닉스</p>
                                <h5 class="mb-3" data-toggle="counter-up">118,000</h5>

                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s" style="width: 20%;">
                            <a class="service-item" href="">
                                <div class="service-icon bg-transparent">
                                    <div class="w-100 h-100 d-flex align-items-center justify-content-center">
                                        <img class="country"
                                            src="https://file.alphasquare.co.kr/media/images/stock_logo/kr/042700.png"
                                            style="width: 100%; border-radius: 20%;">
                                    </div>
                                </div>
                                <p style="color: red; margin-top: -1rem;">+13.59%</p>
                                <p class="text-body mb-0">한미반도체</p>
                                <h5 class="mb-3" data-toggle="counter-up">46,800</h5>

                            </a>
                        </div>

                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s" style="width: 20%;">
                            <a class="service-item" href="">
                                <div class="service-icon bg-transparent">
                                    <div class="w-100 h-100 d-flex align-items-center justify-content-center">
                                        <img class="country"
                                            src="https://file.alphasquare.co.kr/media/images/stock_logo/kr/007660.png"
                                            style="width: 100%; border-radius: 20%;">
                                    </div>
                                </div>
                                <p style="color: red; margin-top: -1rem;">+17.93%</p>
                                <p class="text-body mb-0">이수페타시스</p>
                                <h5 class="mb-3" data-toggle="counter-up">38,150</h5>

                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s" style="width: 20%;">
                            <a class="service-item" href="">
                                <div class="service-icon bg-transparent">
                                    <div class="w-100 h-100 d-flex align-items-center justify-content-center">
                                        <img class="country"
                                            src="https://file.alphasquare.co.kr/media/images/stock_logo/kr/005490.png"
                                            style="width: 100%; border-radius: 20%;">
                                    </div>
                                </div>
                                <p style="color: red; margin-top: -1rem;">+3.59%</p>
                                <p class="text-body mb-0">POSCO홀딩스</p>
                                <h5 class="mb-3" data-toggle="counter-up">447,000</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="exchangeSection" class="container-xxl py-5" style="display: none;">
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-4">
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" style="width: 20%;">
                            <a class="service-item" href="">
                                <div class="service-icon bg-transparent">
                                    <div class="w-100 h-100 d-flex align-items-center justify-content-center">
                                        <img class="country"
                                            src="https://file.alphasquare.co.kr/media/images/stock_logo/kr/005930.png"
                                            style="width: 100%; border-radius: 20%;">
                                    </div>
                                </div>
                                <p style="color: blue; margin-top: -1rem;">-2.09%</p>
                                <p class="text-body mb-0">삼성전자</p>
                                <h5 class="mb-3" data-toggle="counter-up">73,400</h5>

                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s" style="width: 20%;">
                            <a class="service-item" href="">
                                <div class="service-icon bg-transparent">
                                    <div class="w-100 h-100 d-flex align-items-center justify-content-center">
                                        <img class="country"
                                            src="https://file.alphasquare.co.kr/media/images/stock_logo/kr/000660.png"
                                            style="width: 100%; border-radius: 20%;">
                                    </div>
                                </div>
                                <p style="color: blue; margin-top: -1rem;">-3.42%</p>
                                <p class="text-body mb-0">SK하이닉스</p>
                                <h5 class="mb-3" data-toggle="counter-up">118,000</h5>

                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s" style="width: 20%;">
                            <a class="service-item" href="">
                                <div class="service-icon bg-transparent">
                                    <div class="w-100 h-100 d-flex align-items-center justify-content-center">
                                        <img class="country"
                                            src="https://file.alphasquare.co.kr/media/images/stock_logo/kr/042700.png"
                                            style="width: 100%; border-radius: 20%;">
                                    </div>
                                </div>
                                <p style="color: blue; margin-top: -1rem;">-13.59%</p>
                                <p class="text-body mb-0">한미반도체</p>
                                <h5 class="mb-3" data-toggle="counter-up">46,800</h5>

                            </a>
                        </div>

                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s" style="width: 20%;">
                            <a class="service-item" href="">
                                <div class="service-icon bg-transparent">
                                    <div class="w-100 h-100 d-flex align-items-center justify-content-center">
                                        <img class="country"
                                            src="https://file.alphasquare.co.kr/media/images/stock_logo/kr/007660.png"
                                            style="width: 100%; border-radius: 20%;">
                                    </div>
                                </div>
                                <p style="color: blue; margin-top: -1rem;">-17.93%</p>
                                <p class="text-body mb-0">이수페타시스</p>
                                <h5 class="mb-3" data-toggle="counter-up">38,150</h5>

                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s" style="width: 20%;">
                            <a class="service-item" href="">
                                <div class="service-icon bg-transparent">
                                    <div class="w-100 h-100 d-flex align-items-center justify-content-center">
                                        <img class="country"
                                            src="https://file.alphasquare.co.kr/media/images/stock_logo/kr/005490.png"
                                            style="width: 100%; border-radius: 20%;">
                                    </div>
                                </div>
                                <p style="color: blue; margin-top: -1rem;">-3.59%</p>
                                <p class="text-body mb-0">POSCO홀딩스</p>
                                <h5 class="mb-3" data-toggle="counter-up">447,000</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="background: #009999; color:black">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6" style="text-align: center;">
                        <h1 class="mb-4" style="color: black;"><strong>Information</strong></h1>
                        <div class="row g-3 pb-4">
                            <div class="col-sm-4 wow fadeIn" data-wow-delay="0.1s">
                                <div class="border rounded p-1">
                                    <div class="border rounded text-center p-4">
                                        <i class="fa fa-database fa-2x text-primary mb-2"></i>
                                        <h2 class="mb-1" data-toggle="counter-up">953</h2>
                                        <p class="mb-0" style="color: black;">머신러닝 모델</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 wow fadeIn" data-wow-delay="0.1s">
                                <div class="border rounded p-1">
                                    <div class="border rounded text-center p-4">
                                        <i class="fa fa-database fa-2x text-primary mb-2"></i>
                                        <h2 class="mb-1" data-toggle="counter-up">2</h2>
                                        <p class="mb-0" style="color: black;">딥러닝 모델</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 wow fadeIn" data-wow-delay="0.3s">
                                <div class="border rounded p-1">
                                    <div class="border rounded text-center p-4">
                                        <i class="fa fa-users fa-2x text-primary mb-2"></i>
                                        <h2 class="mb-1" data-toggle="counter-up">5</h2>
                                        <p class="mb-0" style="color: black;">사용자</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <img src="./img/character.png" style="width: 600px; height:400px;">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <footer>
        <div class="end_line"></div>
        <div class="footer-container" style="display: flex; justify-content: center;">
            <a href="../index.html" style="justify-content: center;">
                <img src="./img/Hana.jpg" style="max-width: 300px; height: auto; margin-top: 20px; margin-left: 30px;">
            </a>
            <div class="locate" style="display: flex; flex-direction: column;">
                <div style="margin-left:30px; margin-top: 15px;">
                    <span style="margin-right: 15px;">서울특별시 중구 을지로 66 사업자 등록번호: 104-86-56659</span>
                    <span style="margin-right: 15px;">대표이사 이호성</span>
                    <span style="margin-right: 15px;">하나증권 고객센터: 1800-1111</span>
                </div>
                <span style="margin-left: 30px; float: left;">Copyright(c) 2018 KEB HANACARD. All Rights
                    Reserved.</span>
            </div>
        </div>
    </footer>

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="js/main.js"></script>
    <script>
        document.getElementById("autoTradingBtn").addEventListener("click", function () {
            window.location.href = "http://localhost:3000/main";
        });
    </script>

</body>

</html>